body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #d4edda;
  font-weight: bold;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px; 
}

.panel {
  border-radius: 50%;
  background-color: #e6e6e6;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px auto;
}

.panel-inner {
  position: absolute;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1, select, button, p, label {
  margin-top: 10px;
  display: block;
  width: 100%;
}

h2.title {
  color: #437c74;
  margin-top: 20px;
}

select, input, button {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: auto;
  width: 90%;
  font-size: 1em;
}

input.form-input {
  background-color: #d4edda;
}

button.login-button {
  background-color: #49c8a9;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

button.login-button:hover {
  background-color: #437c74;
}

.form-label {
  color: #437c74;
}

#temperatureDisplay, #spinSpeedDisplay {
  font-weight: bold;
}

.controls {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 20px;
}

#error {
  color: red;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}
